UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

NEXTAUTH_URL = https://authpanel.ceres.gob.ar
NEXTAUTH_SECRET=
NEXT_PUBLIC_MAPS_API_KEYS=""

DATABASE_URL=""

RESPONSES_SHEET_API=
RESPONSES_SHEET_ID=''

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=""
CHAT_PORT=